@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/source-sans-3vf-upright.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/source-sans-3vf-italic.woff2") format("woff2");
}
