---
import RootLayout from "../layouts/root.astro";
---

<RootLayout
  title="page not found"
  description="oops! that page doesn't exist i guess."
>
  <div class="flex min-h-dvh">
    <div class="m-auto">
      <div>
        <h1 class="font-medium text-black">page not found</h1>
        <p class="text-neutral-500">oops! that page doesn't exist i guess.</p>
      </div>
    </div>
  </div>
</RootLayout>
