---
import Root from "../layouts/root.astro";
---

<Root title="page not found - @cazcik">
	<div class="pt-10 pb-18">
		<div>
			<h1 class="text-xl font-medium text-black">404</h1>
		</div>
		<div class="pt-2">
			<p class="text-sm text-neutral-800">that page doesn't seem to exist.</p>
		</div>
	</div>
</Root>