---
import RootLayout from "../layouts/root.astro";
---

<RootLayout
  title="@cazcik"
  description="my humble home on the vastness of tubes we call the internet."
>
  <div class="flex min-h-dvh">
    <div class="m-auto">
      <div class="p-6">
        <h1 class="font-medium text-black">@cazcik</h1>
        <p class="text-neutral-500">
          my humble home on the vastness of tubes we call the internet
        </p>
      </div>
    </div>
  </div>
</RootLayout>
