---
import Root from "../layouts/root.astro";
---

<Root title="@cazcik">
	<div class="pt-10 pb-18">
		<div>
			<h1 class="text-xl font-medium text-black">cazcik</h1>
		</div>
		<div class="pt-2">
			<p class="text-sm text-neutral-800">i help developers write secure code, design secure systems, and build for resiliency.</p>
		</div>
		<div class="pt-8">
			<h2 class="text-lg font-medium text-black">about me</h2>
			<ul class="list-disc list-inside text-sm pl-0 pt-2 text-neutral-800 space-y-2">
				<li class="pl-2">born november 1996</li>
				<li class="pl-2">based in st augustine florida</li>
				<li class="pl-2">from detroit michigan</li>
				<li class="pl-2">husband and father</li>
				<li class="pl-2">hockey player</li>
				<li class="pl-2">golf and tennis sometimes</li>
				<li class="pl-2">beach, hikes, and long drives</li>
			</ul>
		</div>
		<div class="pt-8">
			<h2 class="text-lg font-medium text-black">working on</h2>
			<ul class="list-disc list-inside text-sm pl-0 pt-2 text-neutral-800 space-y-2">
				<li class="pl-2">myself</li>
				<li class="pl-2">neutrala</li>
				<li class="pl-2">wiards</li>
				<li class="pl-2">oss</li>
			</ul>
		</div>
		<div class="pt-8">
			<h2 class="text-lg font-medium text-black">corporate life</h2>
			<ul class="list-disc list-inside text-sm pl-0 pt-2 text-neutral-800 space-y-2">
				<li class="pl-2">security engineer at redacted</li>
				<li class="pl-2">security engineer at redacted</li>
				<li class="pl-2">security engineer at redacted</li>
				<li class="pl-2">security analyst at redacted</li>
				<li class="pl-2">systems engineer at redacted</li>
				<li class="pl-2">helpdesk analyst at redacted</li>
			</ul>
		</div>
	</div>
</Root>